%html
  %head
    %title linez - i herd u liek linez

    %script{ :type => 'text/javascript', :src => 'miniLOL-framework.full.js'}
    %script{ :type => 'text/javascript', :src => 'linez.js'}

  %body
    You need javascript and a WebSocket enabled browser.
